### 조건문

In [2]:
score = 80
if score>=90:
    print("A")

In [3]:
score =50
if score>=70:
    print("합격")
else:
    print("불합격")

불합격

In [4]:
score = 79
if score>= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('f')

C

###### if 예습 문제

In [17]:
# 키보드로 점수를 입력<-- 0-100 사이로 정수가 입력된 것을 가정.
# 90점 이상 "a"
# 80-89점 "b"
# 70-79점 "c"
# 60-69점 "d"
# 그 이외 "f"
score = int(input())
if score>=90:
    print("A")
elif score>=80:
    print("B")
elif score>=70:
    print("C")
elif score>=60:
    print("D")
else:
    print("F")

75
C

### 주사위 문제

In [203]:
from random import random
# score 범위 1~6
score = int(random()*6+1)
print(score)
# score 범위 4~12
score = int(random()*12+4)
print(score)
# 아래 숫자의 정수가 발생되도록 난수 발생
#   600 700 800 900 1000 ~ 2300
score = int(random()*18+6)*100
print(score)
import random
# 0~9 정수 난수 발생
print(random.randrange(10))
# 0~100 짝수 정수 난수 발생
print(random.randrange(0,100+1,2))
# 1~6 난수 발생
print(random.randint(1,6))

4
11
1400
0
46
4

##### 가위바위보 문제

In [245]:
# 가위는 1, 바위는 2, 보는 3
# you : 가위
# com : 보
# 당신의 승리, 패배 무승부
me = input("you: ")
com = int(random.randint(1,3))
dic = {1:"가위", 2:"바위", 3:"보"}
print("com : {}".format(dic.get(com)))
if me == dic.get(com):
    print("무승부입니다.")
elif me =='가위':
    if dic.get(com)=="바위":
        print("패배입니다")
    else:
        print("승리입니다.")
elif me =='바위':
    if dic.get(com)=='보':
        print("패배입니다")
    else:
        print("승리입니다.")
elif me =='보':
    if dic.get(com)=='가위':
        print("패배입니다")
    else:
        print("승리입니다.")
else:
    print("오류, 다시입력")

you: 바위
com : 가위
승리입니다.

### 반복문

In [5]:
for i in [0,1,2,3,4,5,6,7,8,9]:
    print(i, end='\t')

0	1	2	3	4	5	6	7	8	9

In [6]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
fruits = ("apple", "banana", "candy")
for fruit in fruits:
    print(fruit)

apple
banana
candy

In [8]:
color={'apple':'red', 'banana':'yello', 'cherry': 'red'}
for c in color:
    print(c)

apple
banana
cherry

In [9]:
for c in color.items():
    print(c)

('apple', 'red')
('banana', 'yello')
('cherry', 'red')

In [10]:
for c,d in color.items():
    print(c,d)

apple red
banana yello
cherry red

In [11]:
for i, v in enumerate(color):
    print (i, v)

0 apple
1 banana
2 cherry

In [14]:
numbers = range(10)
new_list=[]
for i in numbers:
    if i%2 != 0:
        new_list.append(i**2)
print(new_list)

[1, 9, 25, 49, 81]

### while 반복문

In [18]:
i = 0
while i<=10:
    print(i, end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9 10

In [19]:
num=0
while num<=10:
    if num %2 ==1:
        print(num,end=' ')
    num+=1

1 3 5 7 9

### break

In [21]:
num = 0
while num < 10:
    num += 1
    if num ==5:
        break
    print(num)

1
2
3
4

### continue

In [23]:
num = 0
while num < 10:
    num += 1
    if 2<num<5:
        continue
    print(num)

1
2
5
6
7
8
9
10

In [215]:
while True:
    dan = int(input("단을 입력:"))
    print(f"입력값:{dan}")
    if dan >=10 or dan < 0 :
        print("잘못입력")
        continue
    if dan ==0:
        print("단종료")
        break
    for i in range(1,10):
        print(f"{dan} x {i} = {i}*{dan}")

단을 입력:5
입력값:5
5 x 1 = 1*5
5 x 2 = 2*5
5 x 3 = 3*5
5 x 4 = 4*5
5 x 5 = 5*5
5 x 6 = 6*5
5 x 7 = 7*5
5 x 8 = 8*5
5 x 9 = 9*5
단을 입력:4
입력값:4
4 x 1 = 1*4
4 x 2 = 2*4
4 x 3 = 3*4
4 x 4 = 4*4
4 x 5 = 5*4
4 x 6 = 6*4
4 x 7 = 7*4
4 x 8 = 8*4
4 x 9 = 9*4
단을 입력:0
입력값:0
단종료

반복문 연습문제
1.
*****
*****
*****
*****
*****

2.
*
**
***
****
*****

3.
*****
****
***
**
*

4.
*****
 ****
  ***
   **
    *

5.
    *
   **
  ***
 ****
*****

6. 
*    *****
**   ****
***  ***
**** **
******
    ******
   ** ****
  ***  ***
 ****   **
*****    *

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [265]:
a= int(input("n*n을 출력합니다 n을 입력하시오"))
for i in range(a):
    print('*'*a)

n*n을 출력합니다 n을 입력하시오5
*****
*****
*****
*****
*****

In [266]:
a= int(input("n*n을 출력합니다 n을 입력하시오"))
for i in range(1,a+1):
    print(i*'*')

n*n을 출력합니다 n을 입력하시오6
*
**
***
****
*****
******

In [268]:
a= int(input("n*n을 출력합니다 n을 입력하시오"))
for i in range(a,0,-1):
    print(i*'*')

n*n을 출력합니다 n을 입력하시오10
**********
*********
********
*******
******
*****
****
***
**
*

In [269]:
a= int(input("n*n을 출력합니다 n을 입력하시오"))
for i in range(a,0,-1):
    print(' '*(a-i)+'*'*i)

n*n을 출력합니다 n을 입력하시오10
**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

In [270]:
a= int(input("n*n을 출력합니다 n을 입력하시오"))
for i in range(1,a+1):
    print(' '*(a-i)+'*'*i)

n*n을 출력합니다 n을 입력하시오10
         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [307]:
# 1번.
print( ( ("*" * 5) + "\n") * 5)

# 2번.
star = [print("*" * (i+1)) for i in range(5)]

# 3번.
star = [print("*" * i) for i in range(5,0,-1)]

# 4번.
star = [print(" " * (5-i) + ("*") * i) for i in range(5,0,-1)]

# 5번.
star = [print((" ") * (i-1) +("*" * (6-i))) for i in range(5,0,-1)]

# 6번.
star=[[print('*' * (i) + ' '* (5-i) + '*'*(6-i) + ' '*i ) for i in range(1,6)],
      [print(' ' * (5-i) + '*'* (i) + ' '*(i-1) + '*'*(6-i) ) for i in range(1,6)] ]

#구구단
number=[print(f"{i} x {j} = {i*j} \t") for i in range(2,10) for j in range(1,10)]

*****
*****
*****
*****
*****

*
**
***
****
*****
*****
****
***
**
*
*****
 ****
  ***
   **
    *
    *
   **
  ***
 ****
*****
*    *****
**   ****
***  ***
**** **
******
    ******
   ** ****
  ***  ***
 ****   **
*****    *
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [355]:
for i in range(1,10):
    for j in range(2,6):
        print(f"{j} * {i} = {i*j:2}", end="\t")
    print()    
   
print()

for i in range(1,10):
    for j in range(6,10):
        print(f"{j} * {i} = {i*j:2}", end="\t")
    print()

2 * 1 =  2	3 * 1 =  3	4 * 1 =  4	5 * 1 =  5
2 * 2 =  4	3 * 2 =  6	4 * 2 =  8	5 * 2 = 10
2 * 3 =  6	3 * 3 =  9	4 * 3 = 12	5 * 3 = 15
2 * 4 =  8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45

6 * 1 =  6	7 * 1 =  7	8 * 1 =  8	9 * 1 =  9
6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81