### 함수의 실행결과를 반환하는 return

In [1]:
def fibonacci(n):
    "n값 미만까지 피보나치수열을 출력합니다."
    a,b = 0,1
    while b<n:
        print(b, end=' ')
        a, b = b, a+b
    print()

In [2]:
f200=fibonacci(2000)

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [5]:
print(f200)

None

In [7]:
def fibonacci2(n):
    "n값 미만까지 피보나치수열을 출력합니다"
    result=[]
    a, b =0,1
    while b<n:
        result.append(b)
        a,b = b,a+b
    return result

In [9]:
f100=fibonacci2(100)
print(f100)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [10]:
def swap(a,b):
    return b,a

In [11]:
a= swap(1,2)
type(a)

tuple

In [12]:
print(a)

(2, 1)

In [13]:
x, y = swap(1,2)
print(x,y)

2 1

In [14]:
#함수 객체를 반환
def outer(num):
    def inner(data):
        return num*data
    return inner

In [15]:
temp = outer(5)

In [16]:
temp(10)

50

In [17]:
temp1=outer(15)

In [18]:
temp1(10)

150

### 함수 매개변수

In [19]:
#기본값을 갖는 매개변수
def make_url(ip,port=80):
    return "http://{}:{}".format(ip,port)

In [20]:
make_url("localhost")

'http://localhost:80'

In [21]:
make_url("localhost",8080)

'http://localhost:8080'

In [22]:
make_url("coderby.com")

'http://coderby.com:80'

In [23]:
#기본 변수를 갖는 매개변수
i=5

In [24]:
def func2(arg=i):
    print(arg)

In [25]:
i=6

In [26]:
func2()

5

In [27]:
list_=[]
def func3(a,L=list_):
    L.append(a)
    return L

In [28]:
print(func3(3))

[3]

In [29]:
print(func3(4))

[3, 4]

In [30]:
print(func3(5))

[3, 4, 5]

In [33]:
# 기변 변수를 함수들 호출 사이에 공유하지 않으려면
def func4(a,L=None):
    if L is None:
        L=[]
    L.append(a)
    return L

In [34]:
print(func4(2))
print(func4(3))

[2]
[3]

In [35]:
#순서 인수와 키워드 인수
def func4(a,L=None):
    if L is None:
        L=[]
    L.append(a)
    return L

In [36]:
list_=[]

In [37]:
func4(10,list_)

[10]

In [39]:
func4(20,list_)

[10, 20]

In [40]:
func4(30,list_)

[10, 20, 30]

In [42]:
# 매개변수 이름을 입력하면 순서를 바꿔 함수를 호출 할 수 있다.
func4(L=list_,a=40)

[10, 20, 30, 40]

In [43]:
# 기본값이 있으면 생략가능
func4(a=50)

[50]

In [44]:
# 키워드 인수는 순서 인수 뒤에 와야 한다
func4(L=list_,60)

SyntaxError: positional argument follows keyword argument (<ipython-input-44-b6c70e3994ec>, line 2)

In [1]:
#튜플 매개변수를 이용한 가변인수 설정
def add(*args):
    sum=0
    for num in args:
        sum=sum+num
    return sum

In [4]:
add(10,20,30,40,50)

150

In [5]:
def concat(*args,sep):
    return sep.join(args)

In [8]:
concat("earth","mars","venus",sep='/')

'earth/mars/venus'

In [9]:
#default 값을 넣어주어 실수를 방지해 줄 수 있다.
def concat(*args,sep='/'):
    return sep.join(args)

In [10]:
concat("earth","mars")

'earth/mars'

In [13]:
#딕셔너리 매개변수
def func5(**args):
    for item in args.items():
        print(item)

In [14]:
func5(name="kildong",age=30,address="서울시 강남구")

('name', 'kildong')
('age', 30)
('address', '서울시 강남구')

In [15]:
def func6(a,*b,**c):
    print(a)
    print(b)
    print(c)

In [16]:
func6(10,1,2,3,name="kil",age=20)

10
(1, 2, 3)
{'name': 'kil', 'age': 20}

In [17]:
# 함수 호출시 순서 순서 인수->튜플 인수->키워드 인수->딕셔너리 인수
def func(a,b,c,*d,e=10,**f):
    print(a,b,c,d,e,f)

In [18]:
func(10,20,30,4,5,e=20,name="kim",age=30)

10 20 30 (4, 5) 20 {'name': 'kim', 'age': 30}

In [19]:
def add(*args):
    sum=0
    for num in args:
        sum = sum+num
    return sum

In [20]:
numbers=(1,2,3,4,6,7,8,9)

In [22]:
#변수 자체를 함수의 인자에 바로 전달할 수 없다
add(numbers)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [23]:
#언패킹하여 값을 풀어서 전달해 줘야 한다
add(*numbers)

40

In [27]:
#딕셔너리 언패킹
def func5(**data):
    for item in data.items():
        print(item)

In [28]:
cust_info={"name":"kim","age":30,"department":"인사"}

In [29]:
func5(**cust_info)

('name', 'kim')
('age', 30)
('department', '인사')

In [30]:
#함수의 인수로 함수 전달
def template(func,*args,**kwargs):
    print("------------")
    print(func(*args,**kwargs))
    print("============")

In [33]:
def other_func(a,b,*c,d=0,**e):
    print(a,b,c,d,e)
    result=a+b
    for item in c:
        result += item
    return result

In [34]:
template(other_func,2,3,4,5,6,d=10,f=20,g=30)

------------
2 3 (4, 5, 6) 10 {'f': 20, 'g': 30}
20
============